<carousel>
  <slide>
    <img src="../../../assets/image1.jpg" alt="Slide 1">
  </slide>
  <slide>
    <img src="../../../assets/image2.jpg" alt="Slide 2">
  </slide>
  <slide>
    <img src="../../../assets/image1.jpg" alt="Slide 3">
  </slide>
</carousel>


<div class="container">
  <div class="row componentesCentrado">
    <div class="col-lg-4 col-md-6 first"> <!-- Agregando la clase "first" al primer elemento -->
      <div class="card cards">
        <h1>Misión</h1>
        <img src="../../../assets/nosotros/david-iskander-iWTamkU5kiI-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Proporcionar a empresas, equipos de trabajo y universidades una plataforma intuitiva y poderosa que les permita dar y recibir retroalimentación de manera efectiva, promoviendo la transparencia, la colaboración y el crecimiento personal y profesional de quienes participan en las actividades.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 first"> <!-- Utiliza col-lg-6 para pantallas grandes y col-md-6 para pantallas medianas -->
      <div class="card cards">
        <h1>Visión</h1>
        <img src="../../../assets/nosotros/marvin-meyer-SYTO3xs06fU-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Inspirar el cambio y la evolución constante en la forma en que se evalúan y mejoran las actividades y proyectos, consolidando nuestra posición como el socio tecnológico preferido por empresas, equipos de trabajo y universidades en la búsqueda de una retroalimentación efectiva y constructiva.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<h1>Valores</h1>
<div class="container second">
  <div class="row">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card cards">
        <h1>Innovación</h1>
        <img src="../../../assets/nosotros/kevin-ku-w7ZyuGYNpRQ-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Nos esforzamos por desarrollar soluciones tecnológicas innovadoras que superen las expectativas y generen un impacto positivo en la sociedad.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card cards">
        <h1>Colaboración</h1>
        <img src="../../../assets/nosotros/hannah-busing-Zyx1bK9mqmA-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Fomentamos el trabajo en equipo y la cooperación mutua para alcanzar objetivos comunes y promover un ambiente de confianza y respeto.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card cards">
        <h1>Integridad</h1>
        <img src="../../../assets/nosotros/cytonn-photography-n95VMLxqM2I-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Actuamos con honestidad, transparencia y ética en todas nuestras interacciones, manteniendo la confianza de nuestros clientes y colaboradores.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card cards">
        <h1>Flexibilidad</h1>
        <img src="assets/image1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"> Nos adaptamos a los cambios y desafíos del entorno, manteniendo una actitud abierta y receptiva hacia nuevas ideas y enfoques.</p>
        </div>
      </div>
    </div>
  </div>
</div>
