/* CSS para ajustar el tamaño de la imagen en el carrusel */
.carousel-item img {
  /* Ajusta el ancho máximo de la imagen al 100% del contenedor */  /* Ajusta la altura automática para mantener la proporción de aspecto */
  height: 620px;
  margin-bottom: 75px;
}



.componentesCentrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.componentesCentrado h1 {
  text-align: center;
}

/* Estilos para tarjetas */
.cards {
  width: 100%;
  margin-bottom: 75px; /* Puedes ajustar este valor para agregar un espacio entre las tarjetas si lo deseas */
}

.card-body {
  height: 200px; /* Establece una altura fija para el cuerpo de la tarjeta */
  overflow: hidden; /* Oculta el contenido que excede la altura especificada */
}

h1 {
  text-align: center;
}

.componentesCentrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.componentesCentrado h1 {
  text-align: center;
}


